
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('.concerteur_home') }}">Concerteur</a>
    </div>
    <div class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
          <li><a href="{{ url_for('.add_question') }}">Ajouter une question</a></li>
          <li><a href="{{ url_for('.add_sms') }}">Ajouter un message</a></li>
          <li><a href="{{ url_for('.messages') }}">Messages</a></li>
          <li><a href="{{ url_for('.trash') }}">La poubelle</a></li>
       </ul>
    </div>
  </div>
</div>
