{% extends "bootstrap/base.html" %}

{% block title %}Concerteur - Poubelle{% endblock %}


{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}


{% block content %}
<div class="container">
<div class="page-header">
<h1>La belle poubelle</h1>
{% for question in questions %}
<div class="row">
	<div class="well">
	<h2>Question {{question.id}} - {{ question.title }}</h2>
	<p>
	{{question.text}}
	</p>
	</div>
    {% for message in question.messages | reverse if message.trashed == True %}
	<div class="col-md-6 panel panel-default">
        <div class="panel-heading">
              <h3 class="panel-title">Message numéro {{ message.id }}</h3>
            </div>
            <div class="panel-body">
	<p>{{message.text }}</p>
	<p>
	{% if message.audio_path %}
	<a href="{{ url_for('static', filename='mp3/'+message.audio_path) }}">audio</a> 
	{% endif %}
	- <a href="{{ url_for('.untrash_message', message_num=message.id) }}">restaurer</a>
	</p>
	<p>
	<a href="{{ url_for('.del_message', message_num=message.id) }}">supprimer</a>
	</p>
        </div>
	</div>
    {% endfor %}
</div>
{% endfor %}
</div>
</div>
{% endblock %}


